
// Game Settings
$game-block-size: 200px;

// Colors
$background-color: #383838;
$main-header-color: #f2f2f2;

// Sizes
$main-header-size: 48px;

// Fonts
$main-header-font: 'Linotte-SemiBold', serif;
$main-header-font-style: italic;

// Text Align
$main-header-text-align: center;


